.text1 {
  margin: auto;
  text-align: center;
  text-emphasis-style: bold;
  color: blue;
  width: 50%;
  border: solid black;
  border-width: 5px;
  background-color: pink;
  margin-bottom: 10px;  
}

img {
  border: solid 5px black;
}

ul {
  width: 25%;
  margin: auto;
}

p {
  text-align: center;
  text-emphasis-style: bold;
  color: blue;
}
  

