.text1 {
  margin: auto;
  text-align: center;
  text-emphasis-style: bold;
  color: red;
  width: 50%;
  border: solid black;
  border-width: 5px;
  background-color: pink;
  margin-bottom: 10px;  
}

img {
  border: solid 5px black;
  margin: auto;
  width: 90%
}

ul {
  list-style: none;
  width: 25%;
  margin: auto;
}

.animals p { 
  font-size: xx-large;
  text-align: center;
  text-emphasis-style: bold;
  color: yellow;
}

body {
  background-color: blueviolet;
}
  
@media screen and (max-width: 1500px) {
  body {
      background-color: rgb(255, 0, 85);
      color: white;
  }   
}
